.find__search {
  padding-top: 50px;
}
.find__search__form {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 12px 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.find__search__form input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 10px;
}
.find__search__form input::placeholder {
  opacity: 0.4;
  font-size: 16px;
}
.find__search__form i {
  color: rgba(0, 0, 0, 0.3);
}

.find__recent {
  margin-bottom: 40px;
}
.find__recent__title {
  margin-bottom: 20px;
}
.find__recent__words {
  display: flex;
}
.find__recent__words__word {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 7px 15px;
  margin-right: 10px;
  border-radius: 15px;
  color: rgba(0, 0, 0, 0.8);
}

.find__categories-list__categories {
  display: flex;
  justify-content: space-evenly;
}
.find__categories-list__categories_category,
.find__categories-list__categories_category img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.find__categories-list__categories_category:hover {
  box-shadow: 0px 0px 22px 5px rgba(0, 0, 0, 0.5);
}
.find__categories-list__categories_category img {
  background-color: rgba(0, 0, 0, 0.6);
  filter: brightness(45%);
  object-fit: contain;
}
.find__categories-list__categories_category span {
  font-size: 22px;
  color: white;
  font-weight: 700;
  position: relative;
  bottom: 80px;
  left: 19px;
}
.find__categories-list__categories_category:nth-child(2) span {
  left: 22px;
}
.find__categories-list__categories_category:nth-child(3) span {
  left: 29px;
}
.find__categories-list__categories_category:last-child span {
  left: 27px;
}
